.demo-layout-transparent {
  background: url('../assets/demos/transparent.jpg') center / cover;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button,
.demo-layout-transparent .mdl-navigation__link {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: black;
}

.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.login {
  margin-top: 120px;
}

.mdl-layout-title {
  font-family: "et-book";
  font-style: italic;
  font-size: 2.7em;
}

.mdl-mini-footer {
  padding: 18px 16px;
}

.login-header {
  background-color: rgb(66, 66, 66) !important;
}

.search-box-inventory {
float: right;
}

.add-item {
  margin-left: 24px;
}

.mdl-layout__header-row {
  height: 128px;
}

.logo {
  height: 100%;
}

.circle-avatar {
  width:128px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: 10px 7px 14px -8px rgba(0,0,0,0.61);
  -moz-box-shadow: 10px 7px 14px -8px rgba(0,0,0,0.61);
  box-shadow: 10px 7px 14px -8px rgba(0,0,0,0.61);
}
